* {
  padding: 0;
  margin: 0;
  transition: all 0.1s ease-in-out;
  box-sizing: content-box;
}

.App {
  gap: 50px;
  min-width: 360px;
  padding: 0 0 20px 0;
  }


button {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 4px;
  border: none;
  font-size: 1rem;
  border-radius: 8px;

}

button:hover {
  cursor: pointer;
  background-color: lightgreen;
}

button:active {
  scale: 0.9;
}

li,
.task-item,
.css-1p823my-MuiListItem-root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.inputField {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}

.inputField>input {
  width: 80%;
}

.inputField>button {
  margin: 0;
  margin-left: 10px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}

.task {
  font-weight: bold;
}

.active-filter {
  background-color: lightgreen;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header button {
  margin: 0;
}

.todolist-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  font-size: 18px;
}

.todolists-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 100%;
}

.todolist {
  border: 2px solid #1976D2;
  padding: 7px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;

}

.paper {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
}


.addnewtodolist-wrapper {
  padding: 5px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addnewtodolist-wrapper>.inputField {
  justify-content: center;
}

.filter-buttons {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  max-width: 100%;
}

.empty-span {
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px 0;

}