*{
  padding: 0;
  margin: 0;
  transition: all 0.1s ease-in-out;
  box-sizing: content-box;
}

.App {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.App > div {
  margin-right: 50px;
  border: 2px solid rgb(104, 103, 103);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
              0 6px 20px rgba(0, 0, 0, 0.1),
              0 10px 30px rgba(0, 0, 0, 0.1),
              0 14px 40px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

button {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
  border: none;
  font-size: 1rem;

}

button:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

button:active {
  scale: 0.9;
}

li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.inputField {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 0px;
}

.inputField > input {
  width: 80%;
}
.inputField > button {
  margin: 0;
  margin-right: 5px;
}